.no-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 160px);
  min-width: 100%;

  .no-content-text {
    font-size: 50px;
    font-weight: 700;
    max-width: 280px;
    text-align: center;
  }
}

.image-card {
  height: 30%;
  width: 30%;
}

.heroe-photo {
  background-color: red;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  overflow: hidden;

  .image-card {
    height: 100%;
    width: auto;
  }
}

.divider {
  height: 8px;
}

.example-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.example-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
